.den-banner{background: linear-gradient(to bottom, #f8fcff, #f8fcff, #f8fcff);min-height:750px;max-height:1080px;min-width:1080px;
			color:#515151;font-size:14px;width:100%;height:auto;position:relative;overflow:hidden}
	.den-banner .bg{width:100%;position:absolute;bottom:0px;max-width:1250px;min-width:1080px;}
.main-form{width:298px;font-size:18px;position:absolute;top:16%;right:300px;background:#fff;border-radius:2px;
					padding:35px 35px 10px;overflow:hidden}
	.main-form .thod{text-align:center}
	.main-form .thod a{text-align:center;color:#32a5e7}
	.main-form .thod a:hover{color:#008ec7}		
	.main-form input{color:#000;line-height:22px;border:none;margin-top:15px}
	.s{border: 1px solid #dadada;border-radius:2px;height:46px;margin-top:20px;font-size:14px;}
	.shouji .qu{display:inline-block;width:40px;height:100%;border-right:1px solid #dadada;}
		.shouji .qu input{width:139px;}
		.shouji .qu .quhao{width:30px;margin-left:-40px}
	.yanzhen span{width:80px;height:25px;padding-top:5px;margin-top:10px;border-left:1px solid #dadada;font-size:14px;display:inline-block;
					text-align:center;color:#7f7f7f;padding-left:10px}
	.main-form  input.ss{width:298px;height:46px;border:1px solid #dadada;padding-left:20px;margin-top:20px}
	.main-form  input.submit{color:#fff;font-size:20px;border-radius:2px;cursor:pointer;background:#32a5e7;margin-bottom:20px}
	.main-form 	input.submit:hover{background:#2b8cc5}
	.main-form  input.mima{width:278px}
	.main-form .zhuce p{font-size:12px;text-align:left;margin-top:20px;color:#515151}
	.zhushi a{color:#32a5e7;font-size:14px;}
	.zhushi a:hover{color:#2b8cc5}
